<mat-card class="demo-inline-calendar-card">
  <mat-calendar></mat-calendar>
</mat-card>
<mat-nav-list>
  <a
    mat-list-item
    routerLink="/home"
    routerLinkActive="active-link"
    (click)="drawer.close()"
  >
    <!-- <mat-icon>home</mat-icon>  -->
    <span> Home </span>
  </a>

  <a mat-list-item (click)="toggleTheme()"
    >{{ "Switch to " + (isDark ? "light" : "dark") + " mode" }}

    <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }}</mat-icon>
  </a>
  <!-- <a mat-list-item routerLink="/settings" routerLinkActive="active-link" (click)="drawer.close()">Settings</a> -->
</mat-nav-list>
