<mat-card class="demo-inline-calendar-card">
  <mat-calendar></mat-calendar>
</mat-card>

<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="active-link" (click)="drawer.close()">
    <span class="menu-content">
      <mat-icon>home</mat-icon>
      <span>Home</span>
      </span>
  </a>
@if(user==='evolve'){
  <a mat-list-item routerLink="/vendor-list" routerLinkActive="active-link" (click)="drawer.close()">
    <span class="menu-content">
      <mat-icon>store_front</mat-icon>
      <span>Vendors</span>
    </span>
  </a>
}

  <a mat-list-item (click)="toggleTheme()">
    <span class="menu-content">
      <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }}</mat-icon>
      <span>{{ "Switch to " + (isDark ? "light" : "dark") + " mode" }}</span>
    </span>
  </a>

  <a mat-list-item routerLinkActive="active-link" (click)="signOut();drawer.close()">
    <span class="menu-content">
      <mat-icon>logout</mat-icon>
      <span>SignOut</span>
    </span>
  </a>
</mat-nav-list>
