<mat-card class="demo-inline-calendar-card">
  <mat-calendar></mat-calendar>
</mat-card>
<mat-nav-list>
  <a
    mat-list-item
    routerLink="/home"
    routerLinkActive="active-link"
    (click)="drawer.close()"
  >
    <!-- <mat-icon>home</mat-icon>  -->
    <span> Home </span>
  </a>

  <a mat-list-item (click)="toggleTheme()"
    >{{ "Switch to " + (isDark ? "light" : "dark") + " mode" }}
    <mat-icon>{{ isDark ? "light_mode" : "dark_mode" }}</mat-icon>
  </a>



  <a
    mat-list-item
    routerLinkActive="active-link"
    (click)="signOut();drawer.close()"
    >SignOut <mat-icon>logout</mat-icon></a
  >

</mat-nav-list>
