<h3 class="event-header">
  <mat-icon>redeem</mat-icon>

  <!-- WHEN EVENT EXISTS -->
  <ng-container
    *ngIf="currentEventId && eventData?.event_info; else draftHeader"
  >
    <span>
      {{ eventData?.event_info?.client_name }} –
      {{ eventData?.event_info?.function_date | date : "MMM d" }},
      {{ eventData?.event_info?.location }}
    </span>
  </ng-container>

  <!-- DRAFT STATE -->
  <ng-template #draftHeader>
    <span class="draft-text"> New Event </span>
  </ng-template>
</h3>

<mat-tab-group>
  <!-- INFO TAB (always enabled) -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>info</mat-icon>
      Info
    </ng-template>

    <event-info
      (saveTriggered)="handleEventSave($event, 'event_info')"
      [initialData]="eventData?.event_info"
      [fullData]="eventData"
    ></event-info>
  </mat-tab>

  <!-- CREW TAB -->
  <mat-tab [disabled]="!currentEventId">
    <ng-template mat-tab-label>
      <mat-icon>group</mat-icon>
      Expense
    </ng-template>

    <event-crew
      (saveTriggered)="handleEventSave($event, 'event_crew')"
      [initialData]="eventData?.event_crew"
    ></event-crew>
  </mat-tab>

  <!-- ASSETS TAB -->
  <mat-tab [disabled]="!currentEventId">
    <ng-template mat-tab-label>
      <mat-icon>local_florist</mat-icon>
      Assets
    </ng-template>

    <event-assets
      (saveTriggered)="handleEventSave($event, 'event_asset_details')"
      [initialData]="eventData?.event_asset_details"
      [eventInfo]="eventData?.event_info"
    ></event-assets>
  </mat-tab>

  <!-- QUOTE TAB -->
  <mat-tab [disabled]="!currentEventId">
    <ng-template mat-tab-label>
      <mat-icon>request_quote</mat-icon>
      Quote
    </ng-template>

    <event-quote
      [initialData]="eventData?.event_quote"
      (saveTriggered)="handleEventSave($event, 'event_quote')"
    ></event-quote>
  </mat-tab>
</mat-tab-group>
