.quote-container {
  padding: 20px;
}
.outer{
  padding: 10px;
}
h3 {
  margin-top: 5px;
}
.upload-controls {
  // display: grid;
  // gap: 15px;
  // align-items: center;
  margin-bottom: 10px;

  mat-card {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    mat-icon {
      $size:100px;
      font-size: $size;
      height: $size;
      width: $size;
    }
  }
}

.file-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .file-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-secondary);

    &:hover {
      color: #3f51b5; // Adjust to your primary color
      text-decoration: underline;
    }
  }
}

.no-files {
  color: #888;
  font-style: italic;
  margin-top: 10px;
}
.preview-list {
  margin-top: 15px;
  padding: 10px;
  border-radius: 12px;
  border: 1px dashed #c2c2c2;

  .preview-label {
    margin: 0 0 8px 0;
    font-size: 0.9rem;
    font-weight: 500;
  }
}
