<div class="quote-container">
  <h3>Upload Event Quotes</h3>

  <div class="upload-controls">
    <input
      id="quoteFileUpload"
      type="file"
      multiple
      (change)="onFileSelected($event)"
      [disabled]="isUploading"
      accept=".pdf, image/*"
    />

    <button
    *ngIf="selectedFiles.length != 0 "
      mat-raised-button
      color="primary"
      (click)="uploadFiles()"
      [disabled]="selectedFiles.length === 0 || isUploading"
    >
      <span *ngIf="!isUploading">
        <!-- <mat-icon>cloud_upload</mat-icon> -->
        <span>Upload & Save</span>
      </span>
      <span *ngIf="isUploading">Uploading...</span>
    </button>
  </div>

 <div *ngIf="selectedFiles.length > 0" class="preview-list">
    <p class="preview-label">Ready to upload:</p>

    <mat-chip-listbox>
      <mat-chip *ngFor="let file of selectedFiles; let i = index">
        {{ file.name }}

        <button matChipRemove (click)="removeSelectedFile(i)">
          <mat-icon>cancel</mat-icon>
        </button>

      </mat-chip>
    </mat-chip-listbox>
  </div>

  <mat-divider style="margin: 20px 0"></mat-divider>

  <h3 *ngIf="files.length != 0">Attached Documents ({{ files.length }})</h3>

  <div class="file-list">
    <div *ngFor="let file of files; let i = index" class="file-item">
      <a [href]="file.url" target="_blank" class="file-link">
        <mat-icon color="accent">description</mat-icon>
        {{ file.name }}
      </a>

      <button mat-icon-button color="warn" (click)="removeFile(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <p *ngIf="files.length === 0" class="no-files">No quotes.</p>
  </div>
</div>
