// login.component.scss
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  // background-color: #fafafa;
  mat-card {
    max-width: 400px;
    mat-card-header {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    mat-card-title {
      font-size: 24px;
      font-weight: 500;
    }
    form{
      padding: 1rem;
    }
  }
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.login-button {
  margin-top: 8px;
  height: 48px;
  font-size: 16px;
}


