<div class="asset-management-container">
  <h4 class="share-title">
    <span>Share with production Team</span>
    <!-- <mat-form-field appearance="outline">
      <mat-select
        matNativeControl
        required
        [(ngModel)]="sharedWith"
        (change)="onSharedWithChange()"
      >
        <mat-option value="none">None</mat-option>
        <mat-option value="sk">SK</mat-option>
        <mat-option value="rythm">Rythm</mat-option>
      </mat-select>
    </mat-form-field> -->
    <button mat-icon-button type="button" color="accent" (click)="share()"><mat-icon>share</mat-icon></button>
  </h4>

  <div class="asset-list">
    <div class="list-header">
      <div class="col-item">Item (Qty)</div>
      <div class="col-checkbox">Out</div>
      <!-- <div class="col-checkbox">Back</div> -->
      <div class="col-actions">Actions</div>
    </div>

    <div
      *ngFor="let asset of assets"
      class="asset-row"
      [class.taken-out]="asset.takenOut && !asset.broughtBack"
      [class.completed]="asset.broughtBack"
    >
      <ng-container *ngIf="!editMode[asset.id]">
        <div class="col-item">
          <strong>{{ asset.name }}</strong>
          <span class="qty-badge"
            ><b> x {{ asset.quantity }}</b></span
          >
        </div>

        <div class="col-checkbox">
          <mat-checkbox
            [(ngModel)]="asset.takenOut"
            (change)="toggleTakenOut(asset)"
            color="primary"
            class="large-checkbox"
          >
          </mat-checkbox>
        </div>

        <!-- <div class="col-checkbox">
          <mat-checkbox
            [(ngModel)]="asset.broughtBack"
            (change)="toggleBroughtBack(asset)"
            [disabled]="!asset.takenOut"
            color="accent"
            class="large-checkbox"
          >
          </mat-checkbox>
        </div> -->

        <div class="col-actions">
          <button
            mat-icon-button
            (click)="startEdit(asset)"
            [disabled]="asset.takenOut"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="editMode[asset.id]">
        <div class="col-item edit-mode">
          <input
            type="text"
            class="inline-input"
            [(ngModel)]="editForms[asset.id].name"
            placeholder="Item name"
          />
          <input
            type="number"
            class="inline-input qty-input"
            [(ngModel)]="editForms[asset.id].quantity"
            placeholder="Qty"
          />
        </div>

        <div class="col-actions edit-actions">
          <button mat-icon-button color="primary" (click)="saveEdit(asset)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteAsset(asset.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="cancelEdit(asset.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="asset-row add-row">
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          #addNameInput
          type="text"
          class="inline-input"
          [(ngModel)]="newAssetName"
          (keyup.enter)="canAddAsset() && addNewAsset()"
          placeholder="Add new item..."
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <input
          matInput
          type="number"
          class="inline-input qty-input"
          [(ngModel)]="newAssetQuantity"
          (keyup.enter)="canAddAsset() && addNewAsset()"
          placeholder="Qty"
        />
      </mat-form-field>

      <div class="col-actions add-actions">
        <button
          mat-icon-button
          color="primary"
          (click)="addNewAsset()"
          [disabled]="!canAddAsset()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="info-note">
    <mat-icon>info</mat-icon>
    <span
      >Items can only be edited before being taken out. Press Enter to quickly
      add items.</span
    >
  </div>
</div>
