<div *ngIf="!showLayout">
  <!-- Auth pages without navigation -->
  <router-outlet></router-outlet>
</div>

<div class="app-container" *ngIf="showLayout">
  <!-- Main content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <!-- Bottom Navigation Bar -->
  <mat-toolbar class="bottom-nav">
    <button mat-icon-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button routerLink="/vendor-list" routerLinkActive="active">
      <mat-icon>store_front</mat-icon>
    </button>

    <button mat-icon-button routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</div>
