.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 64px; /* Height of bottom nav + some spacing */
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 800px; /* Match your body max-width */
  margin: 0 auto;
  height: 56px;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--theme-bakcground);
  border-top: 1px solid var(--theme-border);
  z-index: 1000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 8px;
  border-radius: 18px;
  width: max-content;
  button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    width: 46px;
    height: 46px;
    mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
    }

    &.active {
      opacity: 1;
      color: var(--mat-sys-primary);
      transform: scale(1.1);

      mat-icon {
        font-weight: bold;
      }
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

/* Dark theme support */
:root[theme="dark"] {
  .bottom-nav {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  }
}
