@use "_variables" as *;

.home-container {
  .list-container {
    padding: 10px;
    margin-bottom: 1rem;
    .month {
      margin: 0 0 16px 0;
    }
    .row {
      display: grid;
      grid-template-columns: 40px 1fr 1fr 1fr;
      padding: 0 10px;
      align-items: center;
      border-bottom: 1px solid $border-grey;
      gap: 10px;
      font-size: 14px;
      padding: 10px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      margin-bottom: 10px;
      border-radius: 6px;
      .date {
        background: var(--theme-btn-primary);
        border-radius: 50%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        // border: 1px solid $border-grey;
        height: 40px;
      }
      //last two child should have fontsixe of 12px
    }
  }
  .fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
  }
}
