<div class="home-container">
  <!-- <h5>Hi Kunju, Welcome to Evolve Events</h5> -->
  <!-- <button mat-raised-button color="accent">Create Event</button> -->
  <!-- list of events with number, date , client name -->
  <div class="list-container" *ngFor="let item of [].constructor(3)">
    <h6 class="month">December 2025</h6>
    <div class="row" *ngFor="let item of [].constructor(10)">
      <span class="date">05</span>
      <span>Client Name</span>
      <span>Windsor Castle </span>
      <span>kottayam</span>
    </div>
  </div>

  <button mat-fab color="primary" class="fab" (click)="openEventDetails()">
    <mat-icon>add</mat-icon>
  </button>
</div>
