@use "_variables" as *;

.home-container {
  .list-container {
    margin-bottom: 1rem;
    h6 {
      margin: 0 10px;
    }
    .row {
      display: grid;
      grid-template-columns: 40px 1fr 1fr 1fr;
      padding: 0 10px;
      align-items: center;
      border-bottom: 1px solid $border-grey;
      gap: 10px;
      font-size: 14px;
          padding: 10px;
      .date{
        background: white;
        border-radius: 50%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid $border-grey;
        height: 40px;
      }
      //last two child should have fontsixe of 12px

    }
  }
  .fab {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
  }
}
