<div class="home-container">
  <h2 >{{ user?.displayName }}</h2>
  <!-- UI card to show total events, number of confirmed events, number of not converted/confirmed events, conversion percentage -->
  <mat-card class="counts-card">
    <mat-card-content>
      <div class="counts">
        <span>Total Events</span>
        <span>{{ dashboardStats.total }}</span>
      </div>

      <div class="counts">
        <span>Completed</span>
        <span>{{ dashboardStats.completed }}</span>
      </div>

      <div class="counts">
        <span>Upcoming</span>
        <span>{{ dashboardStats.upcoming }}</span>
      </div>

      <div class="counts" (click)="loadThisYearsEvents(displayingYear)">
        <span>Sync</span>
        <span> <mat-icon>sync</mat-icon> </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- <mat-form-field class="search-form-field" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" />
    @if (searchText) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    } @else {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchText = ''"
      >
        <mat-icon>search</mat-icon>
      </button>
    }
  </mat-form-field> -->

  <mat-card *ngIf="!loading" class="demo-inline-calendar-card">
    <mat-calendar
      [startAt]="calendarStartDate"
      [dateClass]="dateClass"
      (selectedChange)="calandarClick($event)"
      (viewChanged)="onCalandarViewChanged($event)"
    ></mat-calendar>
  </mat-card>


  @if (loading) {
    <div class="spinner-container">
      <mat-progress-spinner
        class="example-margin"
        mode="indeterminate"
        diameter="32"
      >
      </mat-progress-spinner>
    </div>
  } @else {
    <div class="no-events" *ngIf="!loading && groupedEvents.length === 0">
      No events found for {{ displayingYear }}.
    </div>

    <div class="list-container" *ngFor="let group of groupedEvents">
      <h4 class="month">
        {{ group.month }} <span>{{ group.events.length }} events</span>
      </h4>
      <!-- <p *ngIf="group.events.length === 0">No Events</p> -->
      <!-- <mat-card *ngIf="group.events.length === 0" class="row"><span></span> No Events</mat-card> -->

      <mat-card
        class="row"
        *ngFor="let item of group.events"
        (click)="openEventDetails(item)"
        [ngClass]="{
          lead: !item.event_info.confirmed,
          completed: item.event_info.function_date < nowISO,
        }"
      >
        <span class="date">
          {{ item.event_info.function_date | date: "dd" }}
        </span>

        <span>{{ item.event_info.client_name }}</span>
        <span>{{ item.event_info.venue }}</span>
        <span>{{ item.event_info.location || "" }}</span>
      </mat-card>
    </div>
  }

  <div *ngIf="loading" class="spinner-container">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="32"
    ></mat-progress-spinner>
  </div>

  <!-- Create Event -->
  <button mat-fab color="primary" class="fab" (click)="openEventDetails()">
    <mat-icon>add</mat-icon>
  </button>

  <div class="load-more-container" *ngIf="!loading">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="loadThisYearsEvents(displayingYear - 1)"
    >
      Load {{ displayingYear - 1 }} Events
    </button>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="loadThisYearsEvents(displayingYear + 1)"
    >
      Load {{ displayingYear + 1 }} Events
    </button>
  </div>
</div>
