.read-only-view {
  border-radius: 8px;
  padding: 24px;
  margin: 16px;

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
  }

  .info-grid {
    display: grid;
    margin-bottom: 24px;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.full-width {
      grid-column: 1 / -1; /* Spans all columns */
    }

    .label {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 600;
    }

    .value {
      font-size: 16px;
      font-weight: 400;
      white-space: pre-wrap; /* Preserves newlines in Notes */
      color: var(--theme-color-secondary);
      margin-bottom: 1rem;
      p {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 5px 0 10px 0;
      }

      .icon {
        display: flex;
        align-items: center;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end; /* Aligns button to the right */
    border-top: 1px solid var(--theme-border);
    padding-top: 16px;
  }
}


.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  .full-width {
    grid-column: 1 / -1; /* Spans all columns */
  }
  mat-card {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 0;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

