.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
      padding: 0.5rem;
    box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
